finance/invoice-to-google-sheets-ai/blueprint.json
{
    "name": "Adding invoice details to googlesheet",
    "flow": [
        {
            "id": 1,
            "module": "google-email:triggerWatchNewEmails",
            "version": 4,
            "parameters": {
                "q": "subject:invoice\nhas:attachment",
                "limit": 1,
                "format": "full",
                "markSeen": false,
                "filterType": "gmailSearch",
                "__IMTCONN__": 4607190
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "format": {
                            "label": "Full content"
                        },
                        "filterType": {
                            "label": "Gmail filter"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection (valeedkrazak@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "filterType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simpleSearch",
                                "gmailSearch"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Content format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "full",
                                "raw",
                                "metadata",
                                "minimal"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "type": "text",
                        "label": "Query"
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark email message(s) as read when fetched"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true,
                        "validate": {
                            "max": 500
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Message ID"
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "internalDate",
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "condition": true
                    },
                    {
                        "name": "fromName",
                        "type": "text",
                        "label": "From (name)",
                        "condition": true
                    },
                    {
                        "name": "fromEmail",
                        "type": "text",
                        "label": "From (email)",
                        "condition": true
                    },
                    {
                        "name": "to",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "To",
                        "condition": true
                    },
                    {
                        "name": "cc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "CC",
                        "condition": true
                    },
                    {
                        "name": "bcc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "BCC",
                        "condition": true
                    },
                    {
                        "name": "snippet",
                        "type": "text",
                        "label": "Snippet"
                    },
                    {
                        "name": "fullTextBody",
                        "type": "text",
                        "label": "Full text body",
                        "condition": true
                    },
                    {
                        "name": "htmlBody",
                        "type": "text",
                        "label": "HTML body",
                        "condition": true
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Has attachment",
                        "condition": true
                    },
                    {
                        "name": "hasMedia",
                        "type": "boolean",
                        "label": "Has media",
                        "condition": true
                    },
                    {
                        "name": "sysFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "System folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "System folder name"
                            }
                        ],
                        "type": "array",
                        "label": "System folders"
                    },
                    {
                        "name": "categoryFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Category folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Category folder name"
                            }
                        ],
                        "type": "array",
                        "label": "Category folders"
                    },
                    {
                        "name": "userLabelFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "User label folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "User label folder name"
                            }
                        ],
                        "type": "array",
                        "label": "User label folders"
                    },
                    {
                        "name": "labelIds",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Message folder IDs"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "Delivered-To",
                                "type": "text",
                                "label": "Delivered-To"
                            },
                            {
                                "name": "Received",
                                "type": "text",
                                "label": "Received"
                            },
                            {
                                "name": "Date",
                                "type": "text",
                                "label": "Date (header)"
                            },
                            {
                                "name": "X-Original-Sender",
                                "type": "text"
                            },
                            {
                                "name": "Reply-To",
                                "type": "text"
                            },
                            {
                                "name": "Subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "From",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "To",
                                "type": "text",
                                "label": "To"
                            },
                            {
                                "name": "Message-ID",
                                "type": "text",
                                "label": "Message-ID"
                            },
                            {
                                "name": "In-Reply-To",
                                "type": "text",
                                "label": "In-Reply-To"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers",
                        "condition": true
                    },
                    {
                        "name": "sizeEstimate",
                        "type": "number",
                        "label": "Size estimate"
                    },
                    {
                        "name": "historyId",
                        "type": "text",
                        "label": "History ID"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "google-email:listEmailAttachments",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 4607190
            },
            "mapper": {
                "include": [
                    "attachment",
                    "media"
                ],
                "messageId": "{{1.id}}",
                "returnAttachmentData": true
            },
            "metadata": {
                "designer": {
                    "x": 310,
                    "y": 6
                },
                "restore": {
                    "expect": {
                        "include": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection (valeedkrazak@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "messageId",
                        "type": "text",
                        "label": "Message ID",
                        "required": true
                    },
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Include",
                        "multiple": true,
                        "required": true,
                        "validate": {
                            "enum": [
                                "attachment",
                                "media"
                            ]
                        }
                    },
                    {
                        "name": "returnAttachmentData",
                        "type": "boolean",
                        "label": "Return media or attachment file data",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "gemini-ai:uploadAFile",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3508461
            },
            "mapper": {
                "file_data": "{{9.data}}",
                "file_name": "{{9.filename}}",
                "useFileSearchStore": false
            },
            "metadata": {
                "designer": {
                    "x": 613,
                    "y": -1
                },
                "restore": {
                    "expect": {
                        "useFileSearchStore": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            },
                            "label": "My Gemini AI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "file_name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "file_data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "useFileSearchStore",
                        "type": "boolean",
                        "label": "Use File Search Store"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3508461
            },
            "mapper": {
                "model": "gemini-2.5-flash",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "type": "file",
                                "file_data": {
                                    "file_uri": "{{3.uri}}",
                                    "mime_type": "{{3.mimeType}}"
                                }
                            }
                        ]
                    }
                ],
                "generationConfig": {
                    "imageConfig": {},
                    "thinkingConfig": {}
                },
                "system_instruction": {
                    "parts": [
                        {
                            "text": "you are an expert in extracting data from invoices.“Extract the following fields from this invoice:\nInvoice number\nInvoice date\nVendor name\nTotal amount\nTax amount\nCurrency\nDue date\nReturn result in json format do not include json keyword in that just start with a { and end with }"
                        }
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": 861,
                    "y": 3
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 2.5 Flash"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "File"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "serviceTier": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "include_thoughts": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "google_maps_context": {
                            "mode": "chose"
                        },
                        "google_search_context": {
                            "mode": "chose"
                        },
                        "file_search_store_context": {
                            "mode": "chose"
                        },
                        "function_declarations_context": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            },
                            "label": "My Gemini AI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ],
                                        "required": true
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system_instruction",
                        "spec": [
                            {
                                "name": "parts",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt"
                                },
                                "type": "array",
                                "label": "Prompts"
                            }
                        ],
                        "type": "collection",
                        "label": "System Instructions"
                    },
                    {
                        "name": "safetySettings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Safety Settings"
                    },
                    {
                        "name": "generationConfig",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Stop Sequence"
                                },
                                "type": "array",
                                "label": "Stop Sequences"
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Thinking Config"
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Image Configuration"
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            }
                        ],
                        "type": "collection",
                        "label": "Generation configurations"
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    },
                    {
                        "name": "serviceTier",
                        "type": "select",
                        "label": "Inference Service Tier"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3495607
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{4.result.`Invoice number`}}",
                    "1": "{{4.result.`Invoice date`}}",
                    "2": "{{4.result.`Vendor name`}}",
                    "3": "{{4.result.`Total amount`}}",
                    "4": "{{4.result.`Tax amount`}}",
                    "5": "{{4.result.Currency}}",
                    "6": "{{4.result.`Due date`}}"
                },
                "sheetId": "Sheet1",
                "spreadsheetId": "/1PWF_3pcmq0fZ5dmwXEKcfqxG7bw-9U1pdWtqhBjMebM",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 1161,
                    "y": 3
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Invoice details"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "useColumnHeaders": {
                            "label": "No",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Invoice Number (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Invoice Date (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Vendor Name (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Total Amount (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Tax Amount (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Currency (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Due Date (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "(H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "(I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "(J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "(AA)"
                                        },
                                        {
                                            "name": "27",
                                            "type": "text",
                                            "label": "(AB)"
                                        },
                                        {
                                            "name": "28",
                                            "type": "text",
                                            "label": "(AC)"
                                        },
                                        {
                                            "name": "29",
                                            "type": "text",
                                            "label": "(AD)"
                                        },
                                        {
                                            "name": "30",
                                            "type": "text",
                                            "label": "(AE)"
                                        },
                                        {
                                            "name": "31",
                                            "type": "text",
                                            "label": "(AF)"
                                        },
                                        {
                                            "name": "32",
                                            "type": "text",
                                            "label": "(AG)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns",
                                    "metadata": [
                                        [
                                            [
                                                "Invoice Number",
                                                "Invoice Date",
                                                "Vendor Name",
                                                "Total Amount",
                                                "Tax Amount",
                                                "Currency",
                                                "Due Date"
                                            ]
                                        ]
                                    ]
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (valeedkrazak@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "required": true,
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Invoice Number (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Invoice Date (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Vendor Name (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Total Amount (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Tax Amount (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Currency (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Due Date (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "(AB)"
                            },
                            {
                                "name": "28",
                                "type": "text",
                                "label": "(AC)"
                            },
                            {
                                "name": "29",
                                "type": "text",
                                "label": "(AD)"
                            },
                            {
                                "name": "30",
                                "type": "text",
                                "label": "(AE)"
                            },
                            {
                                "name": "31",
                                "type": "text",
                                "label": "(AF)"
                            },
                            {
                                "name": "32",
                                "type": "text",
                                "label": "(AG)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "Invoice Number",
                                    "Invoice Date",
                                    "Vendor Name",
                                    "Total Amount",
                                    "Tax Amount",
                                    "Currency",
                                    "Due Date"
                                ]
                            ]
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}
